<table>
    <tr>
        <td><img src="{{site.baseurl}}/images/av.jpg" height="60" title="Home" alt=""></td>
        <td><a href="{{site.baseurl}}/my_journey">My Journey</a></td>
        <td><a href="{{site.baseurl}}/2024/09/04/wireframe_IPYNB_2_.html">Wireframe</a></td>
        <td><a href="{{site.baseurl}}/2024/09/05/emoji_and_data_exraction_IPYNB_2_.html">Python Experiments</a></td>
        <td><a href="{{site.baseurl}}/2024/09/05/javascript_testing_IPYNB_2_.html">Javascript Testing</a></td>
        <td>
            <div class="dropdown">
                <button class="dropbtn">Select Game</button>
                <div class="dropdown-content">
                    <a href="{{site.baseurl}}/2024/09/12/JS_Calculator.html">JS Calc</a>
                    <a href="{{site.baseurl}}/2024/09/12/Cookie_Clicker.html">Cookie Clicker</a>
                    <a href="{{site.baseurl}}/2024/09/12/Personal_Hangman.html">Hangman</a>
                    <a href="{{site.baseurl}}/2024/09/16/Snake.html">Snake</a>
                </div>
            </div>
        </td>
    </tr>
</table>

<style>
    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropbtn {
        background-color: #1c1c1b;
        color: #3498db;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #1c1c1b;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .dropdown-content a {
        color: #3498db;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        background-color: #333;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover .dropbtn {
        background-color: #333;
    }
</style>

<script type="module">
    import { pythonURI, fetchOptions } from '{{site.baseurl}}/assets/js/api/config.js';

    document.addEventListener('DOMContentLoaded', function() {
    getCredentials() // Call the function to get credentials
        .then(data => {
            const loginArea = document.getElementById('loginArea');
            if (data) { // Update the login area based on the data
                // User is authenticated, replace "Login" with User's name
                loginArea.innerHTML = `
                    <div class="dropdown">
                        <button class="dropbtn">${data.name}</button>
                        <div class="dropdown-content">
                            <a href="{{site.baseurl}}/logout">Logout</a>
                            <a href="{{site.baseurl}}/profile">Profile</a>
                            <a href="{{site.baseurl}}/analytics">Analytics</a>
                        </div>
                    </div>
                `;
            } else {
                // User is not authenticated, then "Login" link is shown
                loginArea.innerHTML = '<a href="{{site.baseurl}}/login">Login</a>';
            }
        })
        .catch(err => { // General error handler
            console.error("Error fetching credentials: ", err);
            // Handle any errors that occurred during getCredentials
        });
    });

    function getCredentials() {
        const URL = pythonURI + '/api/id';
        return fetch(URL, fetchOptions)
            .then(response => { // API response handler 
                if (response.status !== 200) {
                    console.error("HTTP status code: " + response.status);
                    return null; // prepares to stop the chain by returning null.
                }
                return response.json(); // plans to continue the chain with the data.
            })
            .then(data => { // Data handler from the previous promise  
                if (data === null) return null; // stops the chain, returns null.
                console.log(data); // logs data with should contain uid, name, etc.
                return data; // returns data to caller 
            })
            .catch(err => { // General error handler
                console.error("Fetch error: ", err);
                return null;
            });
    }

</script>